html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 25px;
  width: 100%;
  text-align: center;
}

.header p, .header h1 {
  margin: 0;
}

.sections {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

